body {
    display: grid;
    grid-template-areas:
    "aside header"
    "aside main" ;
    grid-template-columns: auto 1fr;  /* Ajusta confrome a largura do aside e 1fr é para o que restou */
}

.cabecalho {
    grid-area: header
}


.menu-lateral {
    grid-area: aside;
}

.principal {
    grid-area: main;
}